/*
 * Created on Fri Oct 21 2022
 *
 * Copyright © 2022 Ewsgit
 */

.component {
  --panel-height: 3rem;
  height: var(--panel-height);
  background: var(--panel-bg);
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  color: var(--panel-fg);
}

.serverLogo {
  height: 2rem;
  padding-left: 0.5rem;
  margin-right: 50%;
}

.launcher {
  padding: 0.5rem;
  background-color: var(--panel-launcher-bg);
  height: calc(var(--panel-height) - 1rem);
  aspect-ratio: 1/1;
  transition: var(--transition);
  cursor: pointer;
}

.launcher:hover {
  background-color: var(--panel-launcher-hover-bg);
}

.launcher:active {
  background-color: var(--panel-launcher-active-bg);
}

.launcherSlideOut {
  position: fixed;
  top: var(--panel-height);
  left: -20rem;
  height: calc(100vh - var(--panel-height));
  width: 20rem;
  background-color: var(--panel-bg);
  transition: var(--transition);
}

.launcherSlideOutVisible {
  left: 0;
}

.tray {
  outline: 1px solid blue;
  width: 50%;
}

.account > img {
  height: calc(var(--panel-height) - 1rem);
  margin-right: 0.5rem;
  aspect-ratio: 1 / 1;
  outline: 1px solid red;
  border-radius: 0.5rem;
}
