/*
 * Created on Fri Oct 21 2022
 *
 * Copyright © 2022 Ewsgit
 */

.component {
  --panel-height: 3rem;
  height: var(--panel-height);
  background: var(--panel-bg);
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  color: var(--panel-fg);
}

.tray {
  height: var(--panel-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.trayIcon {
  height: calc(var(--panel-height) - 1.5rem);
  aspect-ratio: 1/1;
}

.account {
  position: relative;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account > img {
  height: calc(var(--panel-height) - 1rem);
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
}

.accountDropdown {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
}

.serverLogo {
  height: 2rem;
  padding-left: 0.5rem;
  margin-right: 50%;
  user-select: none;
}

.launcher {
  padding: 0.5rem;
  background-color: var(--panel-launcher-bg);
  height: calc(var(--panel-height) - 1rem);
  aspect-ratio: 1/1;
  transition: var(--transition);
  cursor: pointer;
}

.launcher:hover {
  background-color: var(--panel-launcher-hover-bg);
}

.launcher:active {
  background-color: var(--panel-launcher-active-bg);
}

.launcherSlideOut {
  position: fixed;
  top: var(--panel-height);
  left: -30rem;
  height: calc(100vh - var(--panel-height));
  width: 30rem;
  background-color: var(--panel-bg);
  transition: var(--transition);
  display: grid;
  grid-template-rows: auto 1fr;
}

.launcherSlideOutVisible {
  left: 0;
}

.launcherSlideOutSearch {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: calc(100% - 1rem);
  margin-bottom: 0.5rem;
}

.launcherSlideOut > div[data-header] {
  background: var(--app-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.launcherSlideOut > div[data-header] > div[data-title] {
  font-size: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  user-select: none;
  text-shadow: 0 0 0.5rem #000000, 0 0 0.75rem #000000, 0 0 1rem #000000, 0 0 1.5rem #000000, 0 0 2rem #000000;
}

.launcherGrid {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(var(--panel-launcher-grid-columns), 1fr);
  box-sizing: border-box;
  padding: 0.5rem;
  gap: 0.5rem;
}

.launcherGrid > * {
  overflow: hidden;
  height: 10rem;
  display: grid;
  grid-template-rows: 1fr auto;
  border-radius: var(--card-compact-rounding);
  box-shadow: inset 0 0 0.5rem #00000055;
  transition: var(--transition);
  user-select: none;
  cursor: pointer;
}

.launcherGrid > * > img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  scale: 0.9;
  transition: var(--transition);
  padding: 0.5rem;
  box-sizing: border-box;
}

.launcherGrid > *:hover > img {
  scale: 1;
}

.launcherGrid > *:active > img {
  scale: 0.95;
}

.launcherGrid > * > span {
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: var(--container-bg);
  text-align: center;
  transition: var(--transition);
}
