.component {
  width: 100%;
  height: auto;
  background-color: var(--header-bg);
  color: var(--header-fg);
  display: grid;
  user-select: none;
  transition: var(--transition);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 0.25rem #222 solid;
  grid-template-columns: auto 1fr auto;
  @media (max-width: 800px) {
    grid-template-columns: auto 1fr;
  }

  > [data-branding] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 3rem;

    > h1 {
      margin: 0;
      padding-left: 0.5rem;
    }
  }

  > section {
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    > a {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-radius: 100rem;
      text-decoration: none;
      transition: var(--transition);
      background-color: var(--chip-bg);
      color: var(--chip-fg);

      &:hover {
        background-color: var(--chip-hover-bg);
        color: var(--chip-hover-fg);
      }

      &:active {
        background-color: var(--chip-active-bg);
        color: var(--chip-active-fg);
      }

      @media (max-width: 475px) {
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }

  > span {
    margin-left: auto;
    place-self: center;
    padding-right: 1rem;
    display: flex;
    @media (max-width: 800px) {
      margin-left: 0;
      grid-column: 1 / span 2;
      padding-top: 1rem;
    }
  }
}

.logo {
  height: 2rem;
  aspect-ratio: 1/1;
}
