.component {
  position: relative;
}

.indicator {
  background-color: red;
  padding: 0.125rem 0.25rem;
  top: 0.125rem;
  right: 0.125rem;
  position: absolute;
  color: white;
  border-radius: 100rem;
  font-size: 0.75rem;
}