.button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Roboto", serif;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 0;
  background-color: var(--button-bg);
  color: var(--button-fg);
  user-select: none;

  &:first-child {
    border-radius: var(--button-rounding) 0 0 var(--button-rounding);
  }

  &:last-child {
    border-radius: 0 var(--button-rounding) var(--button-rounding) 0;
  }

  &:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-fg);

    &:first-child {
      border-radius: var(--button-hover-rounding) 0 0 var(--button-hover-rounding);
    }

    &:last-child {
      border-radius: 0 var(--button-hover-rounding) var(--button-hover-rounding) 0;
    }

    &[disabled] {
      background-color: var(--button-bg);
      color: var(--button-fg);
      cursor: not-allowed;
    }
  }
  &:active {
    background-color: var(--button-active-bg);
    color: var(--button-active-fg);

    &:first-child {
      border-radius: var(--button-active-rounding) 0 0 var(--button-active-rounding);
    }

    &:last-child {
      border-radius: 0 var(--button-active-rounding) var(--button-active-rounding) 0;
    }

    &[disabled] {
      background-color: var(--button-bg);
      color: var(--button-fg);
      cursor: not-allowed;
    }
  }
}

.component {
  display: flex;
  gap: 0.125rem;
}