.textarea {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem;
  transition: none;
  color: rgb(var(--button-fg));
  border: none;
  border-radius: var(--input-rounding);
  background-color: rgb(var(--button-bg));

  &:focus-visible {
    outline: var(--input-focused-outline);
  }
}
