.root {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  > div {
    max-width: 40rem;
    width: 90%;
    @media (max-width: 400px) {
      border-radius: 0;
      width: 100%;
      > div > div {
        flex-direction: column;
      }
    }
  }
}

.title {
  color: var(--card-fg);
  margin: 0;
  padding: 2rem;
  padding-top: 1rem;
}

.error {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: auto;
  background-color: var(--container-bg);
  color: var(--container-fg);
  height: auto;
  border-radius: 1rem;
  border: var(--container-outline);
  padding: 0.5rem;
  box-shadow: 0 0 1rem #00000055;
  > p {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.25rem;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo {
  width: 16rem;
  aspect-ratio: 1 / 1;
  background-color: #00000088;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
