html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}

button {
  font-family: "roboto", sans-serif;
  font-weight: 400;
}

/*noinspection ALL*/
#__next {
  height: 100%;
  image-rendering: -webkit-crisp-edges;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

*:focus-visible {
  outline: var(--focused-outline);
}

::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: var(--scrollbar-fg);
  border: transparent solid 0.25rem;
  background-clip: content-box;
  transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background-color: var(--scrollbar-hover-fg);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-active-fg);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}

a[href] {
  position: relative;
  text-decoration: none;
  color: var(--link-fg);
  transition: var(--transition);
  user-select: none;

  &:hover {
    color: var(--link-bg);

    &::before {
      transform: scaleX(1);
    }
  }

  &:active {
    &::before {
      transform: scaleX(1.2);
    }
  }

  &::before {
    content: "";
    transform-origin: center;
    transition: var(--transition);
    transform: scaleX(0);
    width: 100%;
    height: 0.2rem;
    border-radius: 100rem;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--link-bg);
  }
}
