html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: "roboto";
  font-weight: 400;
}

#__next {
  height: 100%;
  image-rendering: -webkit-optimize-contrast;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

*:focus-visible {
  outline: var(--focused-outline);
}

::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: var(--scrollbar-fg);
  border: transparent solid 0.25rem;
  background-clip: content-box;
  transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background-color: var(--scrollbar-hover-fg);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-active-fg);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}
