@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* uses the rgb color method without alpha values */
    --theme-50: 238 242 255;
    --theme-100: 224 231 255;
    --theme-200: 199 210 254;
    --theme-300: 165 180 252;
    --theme-400: 129 140 248;
    --theme-500: 99 102 241;
    --theme-600: 79 70 229;
    --theme-700: 67 56 202;
    --theme-800: 55 48 163;
    --theme-900: 49 46 129;

    /* uses the rgb color method without alpha values */
    --base-50: 249 250 251;
    --base-100: 243 244 246;
    --base-200: 229 231 235;
    --base-300: 209 213 219;
    --base-400: 156 163 175;
    --base-500: 107 114 128;
    --base-600: 75 85 99;
    --base-700: 55 65 81;
    --base-800: 31 41 55;
    --base-900: 17 24 39;
}

body {
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(var(--base-700) / 1), rgb(var(--base-900) / 1));
}

.animate__animated.animate__delay-250ms {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.animate__animated.animate__delay-500ms {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.animate__animated.animate__delay-750ms {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.animate__animated.animate__delay-1250ms {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

.animate__animated.animate__delay-1500ms {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.animate__animated.animate__delay-1750ms {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

.animate__animated.animate__250ms {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.animate__animated.animate__500ms {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.animate__animated.animate__750ms {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.animate__animated.animate__1000ms {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animate__animated.animate__1250ms {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

.animate__animated.animate__1500ms {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.animate__animated.animate__1750ms {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

.animate__animated.animate__2000ms {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.animate__animated.animate__2500ms {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-delay: unset !important;
    }
}
