{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "import/no-unresolved": [
      "off"
    ],
    "import/extensions": [
      "off"
    ],
    "@typescript-eslint/ban-ts-comment": [
      "off"
    ],
    "no-console": [
      "off"
    ],
    "react-hooks/exhaustive-deps": [
      "off"
    ],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error",
    "max-len": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "complexity": "off",
    "no-nested-ternary": "off",
    "import/order": "off",
    "jsx-quotes": [
      "warn",
      "prefer-double"
    ],
    "quotes": [
      "warn",
      "double"
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "space-in-parens": [
      "warn",
      "always"
    ],
    "dot-location": [
      "warn",
      "property"
    ],
    "no-trailing-spaces": [
      "warn",
      {
        "skipBlankLines": true
      }
    ],
    "arrow-body-style": [
      "off"
    ],
    "indent": [
      "warn",
      2
    ],
    "block-spacing": "warn",
    "spaced-comment": "warn",
    "space-before-blocks": "warn",
    "array-bracket-spacing": [
      "warn",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  }
}
