src/desktop_client/node_modules/
src/desktop_client/tauri-remake/node_modules/
src/desktop_client/tauri-remake/src-tauri/target/
src/frontend/.next/
src/frontend/out/
src/frontend/node_modules/
src/frontend/public/workbox-*
src/frontend/public/sw.js
src/backend/node_modules/
src/shared_types/node_modules/
src/auth_backend/node_modules/
