**/node_modules/
/main/backend/fs/
/main/backend/**/*.js
/main/backend/**/*.js.map
/applications/**/*.js
/applications/**/*.js.map
/packages/shared/**/*.js
/packages/shared/**/*.js.map
/.idea/webServers.xml
/.idea/deployment.xml
/bun.lockb
.turbo
