.root {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-color);
}

.pane {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 100%;

    > * {
        width: calc(100% - 1rem);
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
}
