.section1 {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  max-width: 75rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 950px) {
    grid-template-columns: 1fr;
  }
}

.section1ProfileCard {
  margin: auto;
  padding: 1rem;
  background-color: var(--card-bg);
  border-radius: var(--card-rounding);
  color: var(--card-fg);

  > img {
    border-radius: var(--card-rounding);
    max-width: 256px;
  }

  > .name {
    font-size: 1.75rem;
    margin-bottom: 0;
    font-weight: 400;
  }

  > .username {
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 900;
    letter-spacing: 0.05rem;
  }
}

.section1EditPanel {
  > p {
    color: var(--card-fg);
    margin: 0;
  }

  padding-top: 0.5rem;
  box-sizing: border-box;
}
