.component {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.assignee {
  position: relative;
  display: flex;
  padding: 0.25rem;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  opacity: 0;
  animation: forwards fadeIn 500ms 250ms ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &:last-child {
    border-bottom: 0;
  }

  > img {
    border-radius: 0.75rem;
    height: 2.5rem;
    aspect-ratio: 1 / 1;
    margin-right: 0.5rem;
  }

  > span {
    color: var(--container-fg);
  }
}
