.root {
    display: flex;
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: calc(100% - 0.25rem);
    height: calc(100% - 0.25rem);
    margin: 0.125rem;
    transition: var(--transition);
    border-radius: var(--app-application-rounding);
    background: transparent;

    &[data-background="true"] {
        background: var(--app-background);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

// --app-dash-clock-font-weight: 800;
// --app-dash-clock-shadow-color: #000;
// --app-dash-clock-shadow-spread: 1rem;
// --app-dash-clock-shadow-offset-x: 0;
// --app-dash-clock-shadow-offset-y: 0;

.welcome {
    font-size: 5rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    transition: var(--transition);
    animation: 500ms 100ms ease-in-out fadeIn forwards;
    text-align: center;
    letter-spacing: 0.025rem;
    opacity: 0;
    color: #fff;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 100%;
        }
    }

    > * {
        text-shadow: var(--app-dash-clock-shadow-offset-x) var(--app-dash-clock-shadow-offset-y) var(--app-dash-clock-shadow-spread) var(--app-dash-clock-shadow-color);
    }

    > .clock {
        font-size: 8rem;
    }
}

.main {
    display: grid;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
    width: 75%;
    max-width: 90rem;
    max-height: calc(100vh - calc(calc(var(--app-panel-height) + 250px) + calc(var(--app-application-margin) * 2)));
    padding: 1rem;
    animation: 500ms 100ms ease-in-out fadeIn forwards;
    opacity: 0;
    border-radius: var(--card-rounding);

    gap: 0.5rem;

    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 750px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (min-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 100%;
        }
    }

    @media screen and (min-width: 1400px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1800px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.homeMessage {
    display: flex;
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    grid-column: 1/-1;
    grid-row: 1/-1;

    > div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        color: var(--card-fg);
        border-radius: var(--card-rounding);
        background-color: var(--card-bg);
        box-shadow: 0 0 1.5rem #00000088;

        > h1 {
            margin: 0;
        }
    }
}
