.component {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 1rem;
  place-items: flex-start;
  padding: 0.3rem;
  align-items: center;

  > div:first-child {
    height: 1rem;
    margin-left: 0.5rem;
  }

  border-radius: calc(var(--card-rounding) / 2) !important;
}
