.component {
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-family: "Roboto";
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--button-rounding);
  background-color: var(--button-bg);
  color: var(--button-fg);
}
