.component {
  >div {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;

    >div {
      >h3 {
        margin: 0;
      }
    }

    >.child {
      margin-left: auto;
    }
  }
}