.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  user-select: none;
  opacity: 0;
  animation: fadeIn 500ms 500ms ease-in-out forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  > h1 {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    color: var(--container-fg);
    text-shadow: 0 0 0.5rem #000000, 0 0 1rem #000000;
    font-weight: 700;
    letter-spacing: 0.125rem;
  }
  > .content {
    max-width: 40rem;
    width: 90%;

    > div {
      > input {
        &:first-of-type {
          border-bottom-right-radius: calc(var(--text-input-rounding) / 2);
          border-bottom-left-radius: calc(var(--text-input-rounding) / 2);
          margin-bottom: 0.25rem;
        }
        &:last-of-type {
          border-top-right-radius: calc(var(--text-input-rounding) / 2);
          border-top-left-radius: calc(var(--text-input-rounding) / 2);
        }
      }
    }

    @media (max-width: 400px) {
      border-radius: 0;
      width: 100%;
      > div > div {
        flex-direction: column;
      }
    }
  }
}

.title {
  color: var(--card-fg);
  margin: 0;
  padding: 2rem;
  padding-top: 1rem;
}

.error {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: auto;
  background-color: var(--container-bg);
  color: var(--container-fg);
  height: auto;
  border-radius: 1rem;
  border: var(--container-outline);
  padding: 0.5rem;
  box-shadow: 0 0 1rem #00000055;
  > p {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.25rem;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo {
  height: 16rem;
  background-color: #00000088;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.switchInstance {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
