.input {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  transition: var(--transition);
  border-radius: var(--input-rounding);
  background-color: var(--input-bg);
  color: var(--input-fg);
  width: 100%;
  box-sizing: border-box;
}

.input:focus-visible {
  outline: var(--input-focused-outline);
}

.label {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
