.component {
  display: flex;
  flex-direction: row;
  position: relative;

  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.handle {
  cursor: col-resize;
  position: absolute;
  background-color: transparent;
  transition: var(--transition);

  &:hover {
    transition: var(--transition-fast);
    background-color: rgb(var(--theme-500));
  }
}
