.component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--header-bg);
  color: var(--header-fg);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: var(--transition);

  > h1 {
    font-size: 2rem;
    margin-right: 20rem;
    transition: var(--transition);
  }

  > a[href] {
    font-size: 1rem;
    text-decoration: none;
    color: var(--button-fg);
    padding: 0.25rem 0.5rem;
    transition: var(--transition);
    position: relative;

    &:last-of-type {
      margin-right: 0.5rem;
    }

    &:after {
      content: '';
      position: absolute;
      background-color: var(--button-vibrant-hover-bg);
      border-radius: 100rem;
      width: 100%;
      height: 0.25rem;
      top: calc(100% + 0.1rem);
      left: 0;
      transform: scale(0);
      transition: var(--transition);
      transform-origin: center;
    }

    &:hover {
      color: var(--button-vibrant-hover-bg);

      &:after {
        transform: scale(1);
      }
    }

    &:active {
      color: var(--button-vibrant-active-bg);

      &:after {
        transform: scaleX(1.2);
        background-color: var(--button-vibrant-active-bg);
      }
    }
  }

  > button {
    margin-right: 1rem;

    :last-child {
      margin-right: 0;
    }
  }

  > img {
    height: 2.5rem;
    aspect-ratio: 1 / 1;
    outline: 2.5px solid #ffffff55;
    border-radius: 0.5rem;
  }
}

.logo {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}

.spacer {
  height: 5rem;
  width: 100%;
}

@media (max-width: 850px) {
  .component {
    > h1 {
      font-size: 2rem;
      margin-right: 10rem;
    }
  }
}

@media (max-width: 650px) {
  .component {
    > h1 {
      font-size: 2rem;
      margin-right: 5rem;
    }

    > a:nth-child(6) {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .component {
    > h1 {
      font-size: 2rem;
      margin-right: 2rem;
    }
  }

  .logo {
    display: none;
  }
}