.component {
  width: 2.25rem;
  height: 1em;
  margin: 0.5rem;
  border-radius: 100rem;
  background-color: var(--toggle-switch-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: var(--transition);

  > input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
  }

  > div {
    position: absolute;
    top: -0.25rem;
    height: calc(100% + 0.5rem);
    border-radius: var(--toggle-switch-thumb-rounding);
    aspect-ratio: 1 / 1;
    transition: var(--transition);
    pointer-events: none;
    background-color: var(--toggle-switch-thumb-bg);
  }

  &:hover {
    > div {
      background-color: var(--toggle-switch-thumb-hover-bg);
      border-radius: var(--toggle-switch-thumb-hover-rounding);
    }
  }
  &:active {
    > div {
      background-color: var(--toggle-switch-thumb-active-bg);
      border-radius: var(--toggle-switch-thumb-active-rounding);
    }
  }
}
