.component {
  width: 100%;
  height: auto;
  background-color: var(--header-bg);
  color: var(--header-fg);
  display: grid;
  grid-template-columns: auto 1fr;
  user-select: none;
  transition: var(--transition);
  box-shadow: 0 0 0.5rem #00000088;
  > [data-branding] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 3rem;
    > h1 {
      padding-left: 0.5rem;
    }
  }

  > footer {
    width: 100%;
    height: 3rem;
    background-color: var(--card-bg);
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }
  > section {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    > a {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-radius: 100rem;
      margin-right: 0.5rem;
      text-decoration: none;
      transition: var(--transition);
      background-color: var(--chip-bg);
      color: var(--chip-fg);
      &:hover {
        background-color: var(--chip-hover-bg);
        color: var(--chip-hover-fg);
      }
      &:active {
        background-color: var(--chip-active-bg);
        color: var(--chip-active-fg);
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.logo {
  height: 2rem;
  aspect-ratio: 1/1;
}
