.root {
  --app-application-transparent-background-blur: 5px;
  background: transparent;
  &[data-background="true"] {
    background: var(--app-background);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  height: 100%;
  overflow-y: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  transition: var(--transition);
  backdrop-filter: blur(var(--app-application-transparent-background-blur))
    brightness(1.25);
}

// --app-dash-clock-font-weight: 800;
// --app-dash-clock-shadow-color: #000;
// --app-dash-clock-shadow-spread: 1rem;
// --app-dash-clock-shadow-offset-x: 0;
// --app-dash-clock-shadow-offset-y: 0;

.welcome {
  font-weight: 700;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  transition: var(--transition);
  margin-bottom: 1rem;
  > * {
    text-shadow: var(--app-dash-clock-shadow-offset-x)
      var(--app-dash-clock-shadow-offset-y) var(--app-dash-clock-shadow-spread)
      var(--app-dash-clock-shadow-color);
  }
  > .clock {
    font-size: 8rem;
  }
  @keyframes fadeIn {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  opacity: 0%;
  animation: 500ms 100ms ease-in-out fadeIn forwards;
}

.main {
  display: grid;
  overflow-y: auto;
  max-width: 90rem;
  width: 75%;
  padding: 1rem;
  border-radius: var(--card-rounding);
  gap: 0.5rem;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  min-height: 40%;

  @media screen and (min-width: 750px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1800px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @keyframes fadeIn {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  opacity: 0%;
  animation: 500ms 100ms ease-in-out fadeIn forwards;
}

.homeMessage {
  display: flex;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding: 2rem;
  > div {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: var(--card-rounding);
    background-color: var(--card-bg);
    color: var(--card-fg);
    box-shadow: 0 0 1.5rem #00000088;
    > h1 {
      margin: 0;
    }
  }
}
