.root {
    display: grid;
    height: 100%;
    grid-template-columns: auto 1fr;

    @media (max-width: 750px) {
        grid-template-columns: 1fr;
    }

    > .page {
        overflow-y: auto;
        max-height: calc(100vh - var(--app-panel-height));

        > h1 {
            margin: 0;
            padding-top: 1.5rem;
            padding-bottom: 0;
            padding-left: 0;
            color: var(--container-fg);
        }
    }

    > .sidebar {
        display: grid;
        overflow-y: auto;
        height: 100%;
        max-height: calc(100vh - var(--app-panel-height));
        background-color: var(--container-bg);
        grid-template-rows: auto auto 1fr;

        > *:nth-child(1) {
            font-size: 1.75rem;
            margin: 1rem 0.5rem;
            color: var(--container-fg);
        }

        > *:nth-child(2) {
            margin: 0 0.5rem;
        }
    }
}

.pageHeader {
    font-size: 1.25rem;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    color: var(--container-fg);

    > h1 {
        margin: 0;
    }
}
