.root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
}

.title {
  color: var(--container-fg);
  text-align: left;
  padding: 0.75rem 1rem;
  margin: 0;
  cursor: default;
  user-select: none;

  > span {
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      text-decoration: underline;
      text-underline: var(--container-fg);
    }
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  padding: 1rem;
  gap: 1rem;
  user-select: none;
  overflow-y: auto;
  box-sizing: border-box;
  transition: var(--transition);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 75%;

  @media (max-width: 1600px) {
    width: 82.5%;
  }

  @media (max-width: 1400px) {
    width: 90%;
  }

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 975px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 725px) {
    grid-template-columns: 1fr;
  }
}

.card {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 100%;
    }
  }

  opacity: 0;
  animation: 500ms 100ms ease-in-out fadeIn forwards;
  border: solid 0.25rem var(--card-bg);
  cursor: pointer;
  height: 8rem;

  &:hover {
    border: solid 0.25rem #ffffff55;
  }

  display: flex;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }
}

.cardUnderDevelopment {
  outline: #db5a3b dashed 0.125rem;
}

.cardImg {
  height: 5rem;
  aspect-ratio: 1 / 1;
  padding-right: 1rem;
}

.cardName {
  font-size: 1.75rem;
  margin: 0;
}

.cardDescription {
  margin: 0;
  font-size: 1.25rem;
}

.carousel {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 100%;
    }
  }

  opacity: 0;
  animation: 500ms 100ms ease-in-out fadeIn forwards;
}
