.button {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
  color: var(--button-fg);
  border: none;
  border: solid 0.125rem var(--button-bg);
  border-radius: 0;
  background-color: var(--button-bg);

  &:first-child {
    border-radius: var(--button-rounding) 0 0 var(--button-rounding);
  }

  &:last-child {
    border-radius: 0 var(--button-rounding) var(--button-rounding) 0;
  }

  &:hover {
    color: var(--button-hover-fg);
    border: solid 0.125rem #ffffff55;
    background-color: var(--button-hover-bg);

    &:first-child {
      border-radius: var(--button-hover-rounding) 0 0 var(--button-hover-rounding);
    }

    &:last-child {
      border-radius: 0 var(--button-hover-rounding) var(--button-hover-rounding) 0;
    }

    &[disabled] {
      cursor: not-allowed;
      color: var(--button-fg);
      background-color: var(--button-bg);
    }
  }

  &:active {
    color: var(--button-active-fg);
    background-color: var(--button-active-bg);

    &:first-child {
      border-radius: var(--button-active-rounding) 0 0 var(--button-active-rounding);
    }

    &:last-child {
      border-radius: 0 var(--button-active-rounding) var(--button-active-rounding) 0;
    }

    &[disabled] {
      cursor: not-allowed;
      color: var(--button-fg);
      background-color: var(--button-bg);
    }
  }
}

.component {
  display: flex;
  gap: 0.125rem;
}
