.textarea {
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-family: "Roboto";
  transition: none;
  border-radius: var(--text-input-rounding);
  background-color: var(--text-input-bg);
  color: var(--text-input-fg);
  width: 100%;
  box-sizing: border-box;
  &:focus-visible {
    outline: var(--text-input-focused-outline);
  }
}
