.component {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 1rem;
  place-items: flex-start;
  padding: 0.3rem;
  align-items: center;

  > div:first-child {
    height: 1rem;
    margin-left: 0.5rem;
  }

  margin-bottom: 0.25rem;
  border-radius: calc(var(--card-rounding) / 2) !important;
  &:first-child {
    border-radius: var(--card-rounding) var(--card-rounding)
      calc(var(--card-rounding) / 2) calc(var(--card-rounding) / 2) !important;
  }
  &:last-child {
    border-radius: calc(var(--card-rounding) / 2) calc(var(--card-rounding) / 2)
      var(--card-rounding) var(--card-rounding) !important;
    margin-bottom: 0;
  }
}
