.component {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  transition: var(--transition);
  box-shadow: 0 0 1rem #00000055;
  border-radius: var(--card-rounding);
  background-color: var(--card-bg);
  color: var(--card-fg);
  box-sizing: border-box;
}

.clickable {
  height: auto;
  background-color: var(--card-bg);
  border-radius: var(--card-rounding);
  box-shadow: 0 0 0.5rem #00000055;
  padding: 0.75rem;
  user-select: none;
  cursor: pointer;
  border: solid 0.125rem var(--card-bg);

  &:hover {
    border: solid 0.125rem #ffffff55;
  }

  transition: var(--transition);
  display: flex;
  place-items: center;
  color: var(--card-fg);
}

.compact {
  padding: 0.5rem;
  box-shadow: 0 0 0.5rem #00000055;
  border-radius: var(--card-compact-rounding);
}
