.root {
  display: grid;
  grid-template-rows: auto 1fr;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  user-select: none;
  overflow-y: auto;
  box-sizing: border-box;
  transition: var(--transition);
  margin-left: auto;
  margin-right: auto;

  width: 75%;

  @media (max-width: 1600px) {
    width: 82.5%;
  }

  @media (max-width: 1400px) {
    width: 90%;
  }

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 975px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 725px) {
    grid-template-columns: 1fr;
  }
}

.card {
  @keyframes fadeIn {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  opacity: 0%;
  animation: 500ms 100ms ease-in-out fadeIn forwards;
  border: solid 0.125rem var(--card-bg);
  cursor: pointer;

  &:hover {
    border: solid 0.125rem #ffffff55;
  }

  display: flex;
  align-items: center;

  >div {
    display: flex;
    align-items: center;
  }
}

.cardImg {
  height: 5rem;
  aspect-ratio: 1 / 1;
  padding-right: 1rem;
}

.cardName {
  font-size: 1.75rem;
  margin: 0;
}

.cardDescription {
  margin: 0;
  font-size: 1.25rem;
}

.carousel {
  @keyframes fadeIn {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  opacity: 0%;
  animation: 500ms 100ms ease-in-out fadeIn forwards;
}