.component {
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-family: 'Roboto';
  transition: var(--transition);
  box-shadow: 0 0 1rem #00000055;
  border-radius: var(--card-rounding);
  background-color: var(--card-bg);
  color: var(--card-fg);
}

.compact {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-shadow: 0 0 0.5rem #00000055;
  border-radius: var(--card-compact-rounding);
}
