.component {
  position: relative;
  overflow: hidden;
  height: 16rem;

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.main {
  display: flex;
  overflow-x: hidden;
  flex-direction: row;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  > div {
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
}

.controls {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  transform: translateY(-50%);
  pointer-events: none;

  > button {
    box-sizing: border-box;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    cursor: pointer;
    user-select: none;
    transition: var(--transition);
    pointer-events: all;
    color: rgb(var(--button-fg));
    border: solid 0.125rem rgb(var(--button-border));
    border-radius: var(--button-rounding);
    background-color: rgb(var(--button-bg));
    box-shadow: 0 0 1rem #00000088;
    aspect-ratio: 1 / 2;

    &:hover {
      color: rgb(var(--button-hover-fg));
      border: solid 0.125rem #ffffff55;
      border-radius: var(--button-hover-rounding);
      background-color: rgb(var(--button-hover-bg));

      &[disabled] {
        cursor: not-allowed;
        color: rgb(var(--button-fg));
        border-radius: var(--button-rounding);
        background-color: rgb(var(--button-bg));
      }
    }

    &:active {
      color: rgb(var(--button-active-fg));
      border-radius: var(--button-active-rounding);
      background-color: rgb(var(--button-active-bg));

      &[disabled] {
        cursor: not-allowed;
        color: rgb(var(--button-fg));
        border-radius: var(--button-rounding);
        background-color: rgb(var(--button-bg));
      }
    }

    &:first-child {
      margin-right: auto;
      margin-left: 1rem;
    }

    &:last-child {
      margin-right: 1rem;
    }

    > div {
      width: 1.25rem;
      aspect-ratio: 1 / 1;
    }
  }
}

.controlsCompact {
  > button {
    &:first-child {
      margin-left: 0;
      border-radius: 0 var(--button-rounding) var(--button-rounding) 0;
    }

    &:last-child {
      margin-right: 0;
      border-radius: var(--button-rounding) 0 0 var(--button-rounding);
    }
  }
}

.indicator {
  position: absolute;
  bottom: 0.25rem;
  left: 50%;
  display: flex;
  min-width: 5rem;
  transform: translateX(-50%);
  gap: 0.125rem;

  > div {
    flex-grow: 1;
    min-width: 1rem;
    height: 0.25rem;
    transition: var(--transition);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem #00000088;
  }
}
