@media (min-width: 1900px) {
  .section1 > div:first-child > div {
    width: 50%;
  }
}

@media (max-width: 750px) {

  .section1 > div:first-child {
    display: none;
  }

  .section1 > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
