.root {
  transition: all 350ms ease-in-out;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 1rem;
  box-sizing: border-box;

  > section {
    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 100%;
      }
    }

    opacity: 0;
    animation: 500ms 100ms ease-in-out fadeIn forwards;
    padding-left: 15rem;
    padding-right: 15rem;
    transition: var(--transition);
    margin-top: 0.5rem;

    @media (max-width: 1750px) {
      padding-left: 10rem;
      padding-right: 10rem;
    }

    @media (max-width: 1300px) {
      padding-left: 7.5rem;
      padding-right: 7.5rem;
    }

    @media (max-width: 1000px) {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @media (max-width: 700px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.productHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  transform: translateY(-25%);

  > section:first-child {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 1fr;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    > img {
      height: 10rem;
      margin-right: 1rem;
      margin-left: 1rem;
      padding: 0.5rem;
      background-color: var(--card-bg);
      border-radius: 3rem;

      &[data-under-development="true"] {
        border-radius: 2.5rem;
        padding: 0rem;
        outline: #db5a3b solid 0.5rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
    }

    > h1 {
      color: var(--container-fg);
      padding-right: 1rem;
      padding-left: 1rem;
      font-size: 2.75rem;
      font-weight: 500;
      letter-spacing: 0.05rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 auto 0 0;
      overflow: hidden;
      width: 100%;
      box-sizing: border-box;
    }
  }

  > section:last-child {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center center;
    gap: 0.5rem;

    > button {
      height: max-content;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (max-width: 1250px) {
    grid-template-columns: 1fr;
    > section:last-child {
      grid-template-columns: 1fr 1fr;

      &:not(& > button:nth-child(2)) {
        grid-template-columns: 1fr;
      }

      place-items: unset;
    }
  }

  @media (max-width: 950px) {
    > section:last-child {
      grid-template-columns: 1fr;
    }
  }
}

.installationPopup {
  z-index: 2;
  background-color: var(--card-bg);
  transition: var(--transition);
  color: var(--card-fg);

  @media (max-width: 1000px) {
    width: calc(75% - 10rem);
    height: 75vh;
  }

  @media (max-width: 700px) {
    width: calc(85% - 8rem);
    height: 70vh;
  }

  @media (max-width: 500px) {
    width: calc(95% - 5rem);
    height: 85vh;
  }

  > div {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    width: 100%;
    position: relative;
    gap: 2rem;
    padding: 3rem;
    box-sizing: border-box;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      padding: 2rem;
    }
  }

  > :last-child {
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    aspect-ratio: 1 / 1;
    margin: 1.5rem;
  }
}

.installationPopupContent {
  > button {
    margin-top: 2rem;
  }

  > div {
    gap: 1rem;

    > div {

      > h1 {
        color: var(--card-fg);
        margin: 0;
        font-size: 2.5rem;
        padding-bottom: 0.25rem;
      }

      > p {
        color: var(--card-fg);
        margin: 0;
      }
    }

    > ul {
      padding-top: 2rem;
      padding-left: 0;
      margin: 0;

      > h3 {
        color: var(--card-fg);
        padding-bottom: 0.25rem;
        text-decoration: underline;
        margin: 0;
      }

      > p {
        color: var(--card-fg);
        padding-left: 0.5rem;
        margin: 0 0 0.25rem;
      }
    }
  }
}

.carousel {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 100%;
    }
  }

  opacity: 0;
  animation: 500ms 100ms ease-in-out fadeIn forwards;
  max-width: 100%;
}

.errorPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  z-index: 10;
  border-radius: 1.5rem;

  > div {
    padding: 0.5rem;
    text-align: center;

    > h3 {
      font-size: 3rem;
      margin-top: 0;
    }

    > p {
      margin-bottom: 1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    > [data-component-type-icon] {
      width: 100%;
      aspect-ratio: 3 / 2;
    }
  }
}

.description {
  > div {
    > p {
      margin: 0;
      padding-bottom: 1.5rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.descriptionNotice {
  max-width: max-content;
  padding: 0.5rem 0.75rem !important;
  border-radius: var(--card-compact-rounding);
  outline: solid var(--color-warn-bg) 0.2rem;
  margin: 0 auto 1rem !important;
}

.extensionsCarousel {
  height: 10rem;
}

.extensionsPage {
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
