/*
 * Created on Fri Oct 21 2022-2023
 *
 * Copyright © 2022-2023 Ewsgit
 */

.component {
    z-index: 200;
    display: grid;
    align-items: center;
    height: var(--app-panel-height);
    animation: slideInAnimation 1250ms ease-in-out forwards;
    color: var(--app-panel-fg);
    background: var(--app-panel-bg);
    box-shadow: 0 0 1rem #00000055;
    grid-template-columns: auto auto auto 1fr auto;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    > img {
        height: calc(var(--app-panel-height) - 1rem);
        cursor: pointer;
        border-radius: 0.5rem;
        outline: 2.5px solid var(--app-panel-separator);
        aspect-ratio: 1 / 1;
    }
}

.accountDropdown {
    position: absolute;
    top: calc(var(--app-panel-height) + 0.5rem);
    right: 0.5rem;
    transition: var(--transition);
    transform-origin: top right;
}

.accountDropdownQuickActions {
    padding-bottom: 0.5rem;

    > * {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        height: 2.5rem;
        padding: 0.5rem;
        cursor: pointer;
        user-select: none;
        transition: var(--transition);
        color: var(--button-fg);
        border-radius: var(--button-rounding);
        background-color: var(--button-bg);

        &:hover {
            color: var(--button-hover-fg);
            border-radius: var(--button-hover-rounding);
            background-color: var(--button-hover-bg);
        }

        &:active {
            color: var(--button-active-fg);
            border-radius: var(--button-active-rounding);
            background-color: var(--button-active-bg);
        }

        > * {
            height: 100%;
            aspect-ratio: 1 / 1;
        }
    }
}

.accountNotificationList {
    position: absolute;
    right: 0.5rem;
    bottom: calc(calc(var(--app-panel-height) + 0.5rem) - 100vh);
    transition: var(--transition);
    transform-origin: bottom right;

    > div {
        padding: 0.5rem;

        > div {
            &:first-child {
                display: flex;
                align-items: center;
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: var(--header-bg);

                > img {
                    height: 1.5rem;
                    aspect-ratio: 1 / 1;
                }
            }

            > &:nth-child(2) {
                > p {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                    text-align: center;
                }
            }
        }
    }
}

.serverLogo {
    height: 2rem;
    margin-right: 50%;
    padding-left: 0.5rem;
    cursor: pointer;
    user-select: none;
}

.launcher {
    height: var(--app-panel-height);
    margin: 0;
    padding: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
    border: none;
    background-color: var(--app-panel-launcher-bg);
    aspect-ratio: 1/1;

    &:hover {
        background-color: var(--app-panel-launcher-hover-bg);
    }

    &:active {
        background-color: var(--app-panel-launcher-active-bg);
    }
}

.launcherSlideOut {
    position: fixed;
    top: var(--app-panel-height);
    left: 0;
    display: grid;
    overflow: hidden;
    width: 28rem;
    height: calc(100vh - var(--app-panel-height));
    transition: translate 0.25s ease-in-out;
    border-right: 0.25rem solid var(--app-panel-bg);
    background-color: var(--container-bg);
    translate: -100%;
    grid-template-rows: auto 1fr;
    place-items: center;

    @media (max-width: 600px) {
        width: 100vw;
    }

    > div[data-header] {
        position: relative;
        width: calc(2rem + 100%);
        height: 12rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0rem -1.5rem 1rem inset var(--container-bg);

        > div[data-title] {
            font-size: 3rem;
            font-weight: 700;
            position: absolute;
            top: 2.5rem;
            left: 50%;
            user-select: none;
            text-align: center;
            white-space: nowrap;
            letter-spacing: 0.15rem;
            color: white;
            background: inherit;
            background-clip: text;
            text-shadow: 0 0 1rem #000000, 0 0 0.5rem #000000;
            translate: -50%;
        }

        > input[data-search] {
            position: absolute;
            bottom: 0;
            width: calc(100% - 4rem);
            margin-bottom: 2.5rem;
            margin-left: 2rem;
            color: #ffffff;
        }
    }

    > footer[data-footer] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        background-color: var(--app-panel-bg);

        > img {
            height: 2rem;
            margin-left: 1rem;
            border-radius: 0.5rem;
            aspect-ratio: 1 / 1;
        }

        > span {
            margin-right: auto;
            margin-left: 0.75rem;
        }

        > button {
            margin-right: 0.25rem;

            &:last-child {
                margin-right: 1rem;
            }
        }
    }
}

.launcherSlideOutVisible {
    translate: 0;
}

.launcherGrid {
    display: grid;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem;
    grid-auto-rows: min-content;
    gap: 0.5rem;
    place-items: center;

    @media (min-width: 500px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 450px) {
        grid-template-columns: 1fr 1fr;
    }

    > section {
        display: flex;
        width: 100%;
        height: 100%;

        > .launcherGridItem {
            font-size: 1rem;
            display: flex;
            overflow: hidden;
            align-items: center;
            flex-direction: column;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            cursor: pointer;
            user-select: none;
            transition: var(--transition);
            color: var(--card-fg);
            border-width: 0.25rem;
            background-color: var(--card-bg);
            box-shadow: none;

            &:hover {
                z-index: 100;
                background-color: var(--card-bg);
            }

            > img {
                box-sizing: border-box;
                width: 100%;
                padding: 1rem;
                aspect-ratio: 1 / 1;
            }

            > span {
                width: 100%;
                padding-top: 0.25em;
                padding-bottom: 0.25em;
                text-align: center;
                background-color: var(--button-bg);
            }
        }
    }
}

.underDevelopment {
    background-color: #db5a3b !important;
}

.shortcuts {
    position: relative;
    display: flex;
    box-sizing: border-box;
    height: calc(var(--app-panel-height) - 0.5rem);
    margin-right: 0.5rem;
    margin-left: 1.25rem;

    &:before {
        position: absolute;
        top: 50%;
        left: -0.75rem;
        width: 0.25rem;
        height: calc(var(--app-panel-height) - 1rem);
        content: "";
        transform: translateY(-50%);
        border-radius: 1rem;
        background-color: var(--app-panel-separator);
    }

    @for $index from 0 to 25 {
        > :nth-child(#{$index + 1}) {
            opacity: 0;
            animation: slideInAnimation 2s $index * 0.2s ease-in-out forwards;
        }
    }
}

.shortcut {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    transition: var(--transition);
    border: none;
    background-color: transparent;

    > div {
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        height: calc(var(--app-panel-height) - 0.5rem);
        cursor: pointer;
        transition: var(--transition);
        border-radius: 0.75rem;
        background-color: transparent;
        aspect-ratio: 1 / 1;

        &:hover {
            background-color: #ffffff22;

            > img {
                scale: 1.1;
            }
        }

        &:active {
            > img {
                scale: 0.9;
            }
        }

        > img {
            box-sizing: border-box;
            height: 100%;
            padding: 0.35rem;
            transition: var(--transition);
            aspect-ratio: 1 / 1;
        }

        > div {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0.2rem;
            transition: var(--transition);
            transform: translateX(-50%);
            border-radius: 0.5rem;
            background-color: var(--button-vibrant-bg);

            &[data-active-indicator] {
                width: 1.25rem;
            }
        }
    }

    > span {
        font-size: 1rem;
        position: absolute;
        top: var(--app-panel-height);
        left: 50%;
        padding: 0.5rem 0.75rem;
        transition: var(--transition);
        transform: translateX(-50%);
        white-space: nowrap;
        pointer-events: none;
        opacity: 0;
        color: var(--app-panel-fg);
        border-radius: 0.5rem;
        background-color: var(--app-panel-bg);
    }

    &:hover {
        > span {
            pointer-events: all;
            opacity: 1;
        }
    }
}

@keyframes slideInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUpAnimation {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
