.input {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  transition: var(--transition);
  border-radius: var(--input-rounding);
  background-color: var(--input-bg);
  color: var(--input-fg);
  width: 100%;
  box-sizing: border-box;
}

.input:focus-visible {
  outline: var(--input-focused-outline);
}

.invalid {
  color: var(--color-error-bg);
}

.valid {
  color: var(--color-success-bg);
}

.component {
  width: 100%;
  height: max-content;
}

.labelContainer {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  height: 0;
  pointer-events: none;
  transition: var(--transition);

  &:not([data-reason=""]) {
    opacity: 1;
    height: max-content;
    padding-top: 0.5rem;
  }
}
