@import "@yourdash/uikit/theme/themeValues";

.tabBar {
  background: orange;
  display: flex;
  padding: var(#{$theme+$padding});
  padding-bottom: 0;
}

.tabViewContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: purple;
}

.tab {
  background: green;
  &.active {
    background: palevioletred;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  }

  &:first-child {
    padding-left: var(#{$theme+$gap});
  }

  &:last-child {
    padding-right: var(#{$theme+$gap});
  }
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
