.root {
  background-color: var(--background-color);
  color: var(--container-fg);
  padding: 1rem;
  box-sizing: border-box;
  font-family: "JetBrains Mono", "fira code", "cascadia code", "source code pro", monospace;
}
