.component {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: var(--transition);
  color: var(--button-fg);
  border: none;
  border-radius: var(--button-rounding);
  background-color: var(--button-bg);
}
