.component {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  height: 100%;
  width: 5rem;
}

.action {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center center;
  background-color: red;

  .icon {
    aspect-ratio: 1 / 1;
  }
}