.component {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  width: 5rem;
  background-color: var(--actionbar-bg);
  box-sizing: border-box;

  > .toggleButton {
    aspect-ratio: 1 / 1;
    width: 3rem;
    background-color: transparent;
    transition: var(--transition);
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    padding: 0.5rem;
    box-sizing: border-box;
    margin: 1rem;

    &:hover:not(.toggled) {
      > div {
        transform: rotate(10deg);
      }
    }

    &:active:not(.toggled) {
      > div {
        transform: rotate(25deg);
      }
    }

    &.toggled {
      transform: rotate(90deg);
    }
  }

  > .actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0.5rem;
  }

  > .focussedActions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.action {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center center;
  transition: var(--transition);
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--actionbar-fg);

  &:hover {
    .iconBackground {
      background-color: var(--button-hover-bg);
    }
  }

  &:active {
    .iconBackground {
      background-color: var(--button-active-bg);
    }
  }

  .name {
    padding: 0.125rem 0.25rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 4rem;
    box-sizing: border-box;
    margin-top: 0.125rem;
  }

  .iconBackground {
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    transition: var(--transition);
    padding: 0.125rem;
  }

  .icon {
    aspect-ratio: 1 / 1;
    height: 1.5rem;
  }
}

.focussedAction {
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  height: 4rem;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg);
  color: var(--button-fg);
  transition: var(--transition);
  cursor: pointer;

  > div {
    display: block;
    height: 2.5rem;
    aspect-ratio: 1 / 1;
  }

  &:hover {
    background-color: var(--button-hover-bg);
  }

  &:active {
    background-color: var(--button-active-bg);
  }

  > span {
    display: none;
  }
}