.header {
  display: none;
  padding-right: calc(36px + 1rem);
}

.title {

}

.items {
  display: flex;
  flex-direction: column;
  padding-top: 3.5rem;
}

.item {

}

.toggleButton {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.itemLabel {
  display: none;
}

.component {
  position: relative;
  min-height: max-content;
  width: 4rem;
  background-color: var(--sidebar-bg);

  &[data-expanded="true"] {
    width: max-content;

    .header {
      display: block;
    }

    .toggleButton {
      left: unset;
      right: 0.5rem;
      transform: unset;
    }

    .items {
      padding-top: 0;
    }

    .itemLabel {
      display: block;
    }
  }
}

