.component {
  background-color: var(--progress-bar-bg);
  height: 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.25rem;
  position: relative;
}

.progress {
  width: 0;
  height: 100%;
  border-radius: 0.25rem;
  background-color: var(--progress-bar-fg);
  transition: var(--transition);
  box-sizing: border-box;
}

.percentage {
  color: var(--progress-bar-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
}
