.root {
  height: calc(100vh - 5rem);
  display: grid;
  grid-template-columns: auto 1fr auto;

  .content {
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--container-fg);
    text-align: left;
    box-shadow: 0 0 2rem #00000088;
    transition: all 200ms ease-in-out;
    margin: 2rem 15rem;
    border-radius: calc(var(--card-rounding) * 2);
    overflow: hidden;
    padding: 1rem;
    min-height: calc(100vh - 10rem);
    height: max-content;
    overflow-y: auto;

    @media (max-width: 1920px) {
      margin-left: 10rem;
      margin-right: 10rem;
    }

    @media (max-width: 1750px) {
      margin-left: 7.5rem;
      margin-right: 7.5rem;
    }

    @media (max-width: 1500px) {
      margin-left: 5rem;
      margin-right: 5rem;
    }

    @media (max-width: 1200px) {
      margin-left: 0;
      margin-right: 0;
      box-shadow: 0 0 0 #00000000;
    }

    // all of the document page's formatting
    > main > * {
      margin-left: auto;
      margin-right: auto;
      max-width: 60rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    > * {
      box-sizing: border-box;
    }

    > h1,
    > * h1 {
      font-size: 2.5rem;
      font-weight: 400;
    }

    > h2,
    > * h2 {
      font-size: 2rem;
      font-weight: 400;
    }

    > h3,
    > * h3 {
      font-size: 1.75rem;
      font-weight: 400;
    }

    > h4,
    > * h4 {
      font-size: 1.5rem;
      font-weight: 400;
    }

    > h5,
    > * h5 {
      font-size: 1.35rem;
      font-weight: 400;
    }

    > h6,
    > * h6 {
      font-size: 1.2rem;
      font-weight: 400;
    }

    > a[href],
    > * a[href] {
      position: relative;
      text-decoration: none;
      color: var(--link-fg);
      transition: var(--transition);
      user-select: none;

      &:hover {
        color: var(--link-bg);

        &::before {
          transform: scaleX(1);
        }
      }

      &:active {
        &::before {
          transform: scaleX(1.2);
        }
      }

      &::before {
        content: "";
        transform-origin: center;
        transition: var(--transition);
        transform: scaleX(0);
        width: 100%;
        height: 0.2rem;
        border-radius: 100rem;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: var(--link-bg);
      }
    }

    > section[data-header] {
      width: 100%;
      height: 16rem;
      background-color: var(--card-bg);
      text-align: center;
      border-radius: var(--card-rounding);
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;

      > img {
        width: 100%;
      }
    }
  }
}

.listOfContents {
}
