.component {
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: "Roboto";
  height: 2.25rem;
  width: 2.25rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--button-rounding);
  background-color: var(--button-bg);
  color: var(--button-fg);
  user-select: none;

  &:hover {
    border-radius: var(--button-hover-rounding);
    background-color: var(--button-hover-bg);
    color: var(--button-hover-fg);
  }

  &:active {
    border-radius: var(--button-active-rounding);
    background-color: var(--button-active-bg);
    color: var(--button-active-fg);
  }

  > * {
    height: 100%;
    aspect-ratio: 1 / 1;
  }
}
