.component {
  position: relative;

  ::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  overflow: hidden;
}

.main {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  max-height: 20rem;
  height: 16rem;
  width: 100%;
  overflow-x: hidden;

  > div {
    height: 100%;
    width: 100%;
    scroll-snap-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: nowrap;
    flex-flow: row;
  }
}

.controls {
  position: absolute;
  width: 100%;
  pointer-events: none;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;

  > button {
    cursor: pointer;
    pointer-events: all;
    aspect-ratio: 1 / 2;
    background-color: var(--button-bg);
    border: 0;
    border-radius: var(--button-rounding);
    box-shadow: 0 0 1rem #00000088;

    &:first-child {
      margin-right: auto;
      margin-left: 1rem;
    }

    &:last-child {
      margin-right: 1rem;
    }

    > div {
      width: 1rem;
      aspect-ratio: 1 / 1;
    }
  }
}

.indicator {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.25rem;

  > div {
    width: 1rem;
    height: 0.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem #00000088;
  }
}
