.component {
  position: relative;

  ::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  overflow: hidden;
}

.main {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  max-height: 20rem;
  height: 16rem;
  width: 100%;
  overflow-x: hidden;

  > div {
    height: 100%;
    width: 100%;
    scroll-snap-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: nowrap;
    flex-flow: row;
  }
}

.controls {
  position: absolute;
  width: 100%;
  pointer-events: none;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;

  > button {
    pointer-events: all;
    aspect-ratio: 1 / 2;
    box-shadow: 0 0 1rem #00000088;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--button-rounding);
    background-color: var(--button-bg);
    color: var(--button-fg);
    user-select: none;
    border: solid 0.125rem var(--button-bg);
    box-sizing: border-box;

    &:hover {
      border: solid 0.125rem #ffffff55;
      border-radius: var(--button-hover-rounding);
      background-color: var(--button-hover-bg);
      color: var(--button-hover-fg);

      &[disabled] {
        border-radius: var(--button-rounding);
        background-color: var(--button-bg);
        color: var(--button-fg);
        cursor: not-allowed;
      }
    }

    &:active {
      border-radius: var(--button-active-rounding);
      background-color: var(--button-active-bg);
      color: var(--button-active-fg);

      &[disabled] {
        border-radius: var(--button-rounding);
        background-color: var(--button-bg);
        color: var(--button-fg);
        cursor: not-allowed;
      }
    }

    &:first-child {
      margin-right: auto;
      margin-left: 1rem;
    }

    &:last-child {
      margin-right: 1rem;
    }

    > div {
      width: 1rem;
      aspect-ratio: 1 / 1;
    }
  }
}

.controlsCompact {
  > button {
    &:first-child {
      margin-left: 0;
      border-radius: 0 var(--button-rounding) var(--button-rounding) 0;
    }

    &:last-child {
      margin-right: 0;
      border-radius: var(--button-rounding) 0 0 var(--button-rounding);
    }
  }
}

.indicator {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.25rem;

  > div {
    width: 1rem;
    height: 0.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem #00000088;
  }
}
