.component {
    position: fixed;
    z-index: 10000;
    background-color: rgb(var(--container-bg));
    color: rgb(var(--container-fg));
    margin: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 2px solid var(--application-panel-border);
    padding: 0.25rem;
    box-shadow: 0 0 0.5rem #00000088;
    flex-direction: column;
    gap: 0.125rem;
    width: 200px;
    box-sizing: border-box;

    > button {
        padding: 0.125rem 0.5rem;
        user-select: none;
        cursor: pointer;
        border-radius: 0.25rem;
        border: none;
        font-size: 0.9rem;
        text-align: start;
        transition: var(--transition);
        background-color: rgb(var(--button-bg));
        color: rgb(var(--button-fg));

        &:hover {
            background-color: rgb(var(--button-hover-bg));
            color: rgb(var(--button-hover-fg));
        }

        &:active {
            background-color: rgb(var(--button-active-bg));
            color: rgb(var(--button-active-fg));
        }
    }
}
