.section1 {
  background-color: var(--header-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  width: auto;
  max-height: 20rem;

  > div:first-child {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    max-height: 20rem;

    > div {
      height: 100%;
      aspect-ratio: 16 / 9;
      width: 75%;
      background-color: var(--card-bg);
      color: var(--card-fg);
      border-radius: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      transition: var(--transition);
    }
  }

  > div:last-child {
    display: flex;
    flex-direction: column;
    color: var(--header-fg);
    width: auto;
    margin: 0;
    justify-content: center;

    > h1 {
      margin: 0;
      font-size: 3rem;
    }

    > div {
      display: flex;
      align-items: center;
      > a {
        margin-left: 1rem;
        color: var(--button-vibrant-bg);
        text-decoration: none;
        transition: var(--transition);
      }

      > a:hover {
        color: var(--button-vibrant-hover-bg);
      }

      > a:active {
        color: var(--button-vibrant-active-bg);
      }
    }
  }
}

@media (min-width: 1900px) {
  .section1 > div:first-child > div {
    width: 50%;
  }
}

.section2 {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 1rem;
  margin-bottom: 0rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  width: calc(100% - 4rem);
  padding: 2rem;
  gap: 0.5rem;
  > div {
    background-color: var(--card-bg);
    color: var(--card-fg);
    border-radius: var(--card-rounding);
    padding-bottom: 6rem;
    position: relative;
    border: solid 0.125rem var(--card-bg);
    transition: var(--transition);

    &:hover {
      border: solid 0.125rem #ffffff55;
    }

    > h2 {
      margin: 1rem;
    }

    > p {
      margin: 1rem;
      text-align: left;
    }

    > button {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }

    &:nth-child(1) {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > div {
    height: 8rem;
    padding: 2rem;
    width: calc(100% - 4rem);
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    display: flex;
    gap: 1rem;

    > div {
      flex-grow: 1;
      color: var(--card-fg);
      background-color: var(--card-bg);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      border-radius: var(--card-rounding);
      border: solid 0.125rem var(--card-bg);
      transition: var(--transition);

      &:hover {
        border: solid 0.125rem #ffffff55;
      }

      > :first-child {
        margin-bottom: 1rem;
        font-size: 1.75rem;
      }
    }
  }
  > h3 {
    font-size: 2rem;
    margin: 0;
    color: var(--container-fg);
    padding-left: 3rem;
    width: 100%;
    max-width: 80rem;
  }
}

@media (max-width: 750px) {
  .section1 {
    gap: 0;
    display: flex;
    flex-direction: column;
  }

  .section1 > div:first-child {
    display: none;
  }

  .section1 > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section2 {
    grid-template-columns: 1fr;
  }
}
