.root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
}

.header {
  padding: 1rem;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  padding: 0 1rem 1rem;
  gap: 0.5rem;
  user-select: none;
  overflow-y: auto;
  box-sizing: border-box;
  transition: var(--transition);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  max-width: 80rem;

  @media (max-width: 975px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 725px) {
    grid-template-columns: 1fr;
  }
}

.card {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 100%;
    }
  }

  opacity: 0;
  animation: 300ms 100ms ease-in-out fadeIn forwards;
  border: solid 0.25rem var(--card-bg);
  cursor: pointer;
  height: 8rem;

  &:hover {
    border: solid 0.25rem #ffffff55;
  }

  display: flex;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }
}

.cardUnderDevelopment {
  position: relative;
  background-color: #db5a3b;
  border-color: #00000033;

  &::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    border-radius: calc(var(--card-rounding) / 1.5);
    z-index: -1;
    opacity: 0.75;
    background-color: var(--card-bg);
  }
}

.cardImg {
  height: 5rem;
  aspect-ratio: 1 / 1;
  padding-right: 1rem;
}

.cardName {
  font-size: 1.75rem;
  margin: 0;
}

.cardDescription {
  margin: 0;
  font-size: 1.1rem;
  height: 4rem;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carousel {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 100%;
    }
  }

  opacity: 0;
  animation: 500ms 100ms ease-in-out fadeIn forwards;
}
