.header {
  display: none;
}

.title {
  margin: 0;
  color: rgb(var(--sidebar-fg));
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding-right: calc(36px + 1rem);
  padding-left: 0.5rem;
}

.items {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding-top: 3.25rem;
  gap: 0.1rem;

  @media (max-width: 750px) {
    flex-direction: row;
    justify-content: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: max-content;
  padding: 0.25rem 0.25rem 0.25rem 0.35rem;
  cursor: pointer;
  transition: var(--transition);
  color: rgb(var(--button-fg));
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  gap: 0.5rem;

  &:hover {
    background-color: rgb(var(--button-hover-bg));

    .itemLabel {
      opacity: 1;
    }
  }

  &:active {
    background-color: rgb(var(--button-active-bg));
  }

  @media (max-width: 750px) {
    justify-content: center;
  }
}

.itemIcon {
  width: 1.75rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  transition: var(--transition);
}

.toggleButton {
  position: absolute;
  top: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}

.itemLabel {
  font-size: 1rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: calc(100% + 1rem);
  padding: 0.25rem 0.5rem;
  transform: translateY(-50%);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  color: rgb(var(--container-fg));
  border-radius: 0.5rem;
  background-color: rgb(var(--container-bg));

  &:not([data-expanded="true"]) {
    box-shadow: 0 0 0.5rem #00000055;
    transition: var(--transition);
  }

  @media (max-width: 750px) {
    top: calc(0.5rem + 100%);
    left: 50%;
    transform: translate(-50%);
  }
}

.component {
  position: relative;
  width: 4rem;
  min-height: max-content;
  background-color: rgb(var(--container-bg));
  border-right: 1px solid rgb(var(--container-border));

  &[data-expanded="true"] {
    width: max-content;

    .header {
      display: block;
    }

    .title {
      padding-right: 0.25rem;
      padding-left: 0.25rem;
    }

    .toggleButton {
      right: 0.5rem;
      left: unset;
      transform: unset;
    }

    .items {
      padding: 0 0.5rem 0.5rem;
    }

    .item {
      width: 100%;
    }

    .itemLabel {
      position: unset;
      display: block;
      padding: 0 0.25rem 0 0;
      transform: unset;
      white-space: unset;
      opacity: 1;
      background-color: transparent;
    }
  }

  @media (max-width: 750px) {
    width: 100%;
    height: 3.5rem;

    &[data-expanded="true"] {
      width: 100%;
      height: max-content;
    }
  }
}
