.token-styles-0 {
  color: yellow;
}

.token-styles-1 {
  color: orange;
}

.token-styles-2 {
  color: yellow;
}

.token-styles-3 {
  color: white;
}

.token-styles-4 {
  color: forestgreen;
}

.token-styles-5 {
  color: indianred;
}

.token-styles-6 {
  color: mediumpurple;
}

.token-styles-7 {
  color: orange;
}
