/*
 * Created on Fri Oct 21 2022-2023
 *
 * Copyright © 2022-2023 Ewsgit
 */

.component {
  height: var(--app-panel-height);
  background: var(--app-panel-bg);
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  align-items: center;
  color: var(--app-panel-fg);
  box-shadow: 0 0 1rem #00000055;
  z-index: 200;
  animation: slideInAnimation 1250ms ease-in-out forwards;
}

.account {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    height: calc(var(--app-panel-height) - 1rem);
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: 2.5px solid var(--app-panel-separator);
  }
}

.accountDropdown {
  position: absolute;
  top: calc(var(--app-panel-height) + 0.5rem);
  right: 0.5rem;
  transform-origin: top right;
  transition: var(--transition);
}

.accountDropdownQuickActions {
  padding-bottom: 0.5rem;

  > * {
    flex-grow: 1;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    border-radius: var(--button-rounding);
    background-color: var(--button-bg);
    color: var(--button-fg);
    transition: var(--transition);
    padding: 0.5rem;

    &:hover {
      border-radius: var(--button-hover-rounding);
      background-color: var(--button-hover-bg);
      color: var(--button-hover-fg);
    }

    &:active {
      border-radius: var(--button-active-rounding);
      background-color: var(--button-active-bg);
      color: var(--button-active-fg);
    }

    > * {
      height: 100%;
      aspect-ratio: 1 / 1;
    }
  }
}

.accountNotificationList {
  position: absolute;
  bottom: calc(calc(var(--app-panel-height) + 0.5rem) - 100vh);
  right: 0.5rem;
  transform-origin: bottom right;
  transition: var(--transition);

  > div {
    padding: 0.5rem;

    > div {
      &:first-child {
        display: flex;
        align-items: center;
        background-color: var(--header-bg);
        padding: 0.5rem;
        border-radius: 0.5rem;

        > img {
          aspect-ratio: 1 / 1;
          height: 2rem;
        }
      }

      > &:nth-child(2) {
        > p {
          margin-top: 1rem;
          margin-bottom: 1rem;
          text-align: center;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
    }
  }
}

.serverLogo {
  height: 2rem;
  padding-left: 0.5rem;
  margin-right: 50%;
  user-select: none;
  cursor: pointer;
}

.launcher {
  padding: 0.5rem;
  background-color: var(--app-panel-launcher-bg);
  height: calc(var(--app-panel-height) - 1rem);
  aspect-ratio: 1/1;
  transition: var(--transition);
  cursor: pointer;

  &:hover {
    background-color: var(--app-panel-launcher-hover-bg);
  }

  &:active {
    background-color: var(--app-panel-launcher-active-bg);
  }
}

.launcherSlideOut {
  position: fixed;
  top: var(--app-panel-height);
  left: 0;
  translate: -100%;
  height: calc(100vh - var(--app-panel-height));
  width: 30rem;
  background-color: var(--container-bg);
  transition: translate 0.25s ease-in-out;
  display: grid;
  grid-template-rows: auto 1fr;
  border-right: 0.25rem solid var(--app-panel-bg);
  place-items: center;
  overflow: hidden;

  @media (max-width: 500px) {
    width: 100vw;
  }

  > div[data-header] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0rem -1.5rem 1rem inset var(--container-bg);
    width: calc(2rem + 100%);
    height: 12rem;

    > div[data-title] {
      font-size: 3rem;
      text-align: center;
      user-select: none;
      background: inherit;
      background-clip: text;
      font-weight: 700;
      letter-spacing: 0.15rem;
      position: absolute;
      top: 2.5rem;
      left: 50%;
      translate: -50%;
      white-space: nowrap;
      color: white;
      text-shadow: 0 0 1rem #000000, 0 0 0.5rem #000000;
    }

    > input[data-search] {
      margin-left: 2rem;
      width: calc(100% - 4rem);
      margin-bottom: 2.5rem;
      color: #ffffff;
      position: absolute;
      bottom: 0;
    }
  }

  > footer[data-footer] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--app-panel-bg);
    width: 100%;

    > img {
      margin-left: 0.5rem;
      height: 2rem;
      aspect-ratio: 1 / 1;
      border-radius: 0.5rem;
    }

    > span {
      margin-left: 0.75rem;
    }

    > div[data-settings] {
      padding: 0.5rem;
      margin: 0.5rem 0.5rem 0.5rem auto;
      border-radius: 100rem;
      background-color: var(--button-bg);
      color: var(--button-fg);
      transition: var(--transition);
      cursor: pointer;

      &:hover {
        background-color: var(--button-hover-bg);
        color: var(--button-hover-fg);
      }

      &:active {
        background-color: var(--button-active-bg);
        color: var(--button-active-fg);
      }

      > [data-component-type-icon] {
        height: 1.5rem;
        aspect-ratio: 1 / 1;
      }
    }
  }
}

.launcherSlideOutVisible {
  translate: 0;
}

.launcherGrid {
  height: 100%;
  width: 100%;
  overflow-x: visible;
  overflow-y: auto;
  display: grid;
  grid-auto-rows: min-content;
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: 400px) {
    grid-template-columns: 1fr 1fr;
  }

  > section {
    display: flex;
    width: 100%;
    height: 100%;

    > .launcherGridItem {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;
      align-items: center;
      border-radius: var(--card-rounding);
      background-color: var(--card-bg);
      transition: var(--transition);
      cursor: pointer;
      user-select: none;
      outline: 0 solid #00000000;

      &:hover {
        scale: 1.05;
        z-index: 100;
        background-color: var(--card-bg);
        outline: 0.25rem solid var(--container-outline);
      }

      &:active {
        scale: 1;
        outline: 0.125rem solid var(--container-outline);
      }

      > img {
        width: 75%;
        aspect-ratio: 1 / 1;
        box-sizing: border-box;
        padding: 0.5rem;
      }

      > span {
        width: 100%;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        background-color: var(--button-bg);
        text-align: center;
      }
    }
  }
}

.shortcuts {
  margin-left: 1.25rem;
  margin-right: 0.5rem;
  height: calc(var(--app-panel-height) - 0.5rem);
  box-sizing: border-box;
  position: relative;
  display: flex;

  &:before {
    content: "";
    height: calc(var(--app-panel-height) - 1rem);
    width: 0.25rem;
    border-radius: 1rem;
    background-color: var(--app-panel-separator);
    position: absolute;
    left: -0.75rem;
    top: 50%;
    transform: translateY(-50%);
  }

  @for $index from 0 to 25 {
    > :nth-child(#{$index + 1}) {
      opacity: 0;
      animation: slideInAnimation 2s $index * 0.2s ease-in-out forwards;
    }
  }
}

.shortcut {
  position: relative;
  display: flex;
  transition: var(--transition);

  > div {
    transition: var(--transition);
    height: calc(var(--app-panel-height) - 0.5rem);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
    cursor: pointer;

    &:hover {
      background-color: #ffffff22;

      > img {
        scale: 1.1;
      }
    }

    &:active {
      > img {
        scale: 0.9;
      }
    }

    > img {
      transition: var(--transition);
      height: 100%;
      box-sizing: border-box;
      padding: 0.35rem;
      aspect-ratio: 1 / 1;
    }

    > div {
      background-color: var(--button-vibrant-bg);
      height: 0.2rem;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 0.5rem;
      transition: var(--transition);
      z-index: 2;

      &[data-active-indicator] {
        width: 1.25rem;
      }
    }
  }

  &:hover {
    > span {
      opacity: 1;
      pointer-events: all;
    }
  }

  > span {
    transition: var(--transition);
    pointer-events: none;
    opacity: 0;
    top: var(--app-panel-height);
    position: absolute;
    padding: 0.25rem 0.5rem;
    background: #00000088;
    border-radius: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}

@keyframes slideInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpAnimation {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
