.root {
  padding: 2rem;
  box-sizing: border-box;
}

.hero {
  height: 12rem;
  background-color: var(--header-bg);
  color: var(--header-fg);
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  border-radius: 1rem;
}

.card {
  padding: 1rem;
  box-sizing: border-box;
}
