.root {
    box-sizing: border-box;
    padding: 2rem;
}

.hero {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--header-fg);
    border-radius: 1rem;
    background-color: var(--header-bg);
}

.card {
    box-sizing: border-box;
    padding: 2rem 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}
