.component {
  font-family: "Inter", sans-serif;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.35rem;
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
  color: rgb(var(--button-fg));
  border: solid 0.125rem rgb(var(--button-border));
  border-radius: var(--button-rounding);
  background-color: rgb(var(--button-bg)) !important;
  aspect-ratio: 1 / 1;

  &:hover {
    transition: var(--transition-fast) !important;
    color: rgb(var(--button-hover-fg));
    border: solid 0.125rem rgb(var(--button-hover-border));
    border-radius: var(--button-hover-rounding);
    background-color: rgb(var(--button-hover-bg));

    &[disabled] {
      cursor: not-allowed;
      color: rgb(var(--button-fg));
      border-radius: var(--button-rounding);
      background-color: rgb(var(--button-bg));
    }
  }

  &:active {
    color: rgb(var(--button-active-fg));
    border: solid 0.125rem rgb(var(--button-active-border));
    border-radius: var(--button-active-rounding);
    background-color: rgb(var(--button-active-bg));

    &[disabled] {
      cursor: not-allowed;
      color: rgb(var(--button-fg));
      border-radius: var(--button-rounding);
      background-color: rgb(var(--button-bg));
    }
  }

  > * {
    height: 100%;
    aspect-ratio: 1 / 1;
  }
}
