.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  color: var(--container-fg);

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

.sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column: 1 / 2;
  background-color: var(--container-bg);
  padding: 3rem;
  box-sizing: border-box;

  @media (max-width: 900px) {
    grid-column: unset;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 500px) {
    padding: 2rem 1rem 1rem;
  }

  > button {
    width: 100%;
  }

  > h1 {
    white-space: nowrap;
    margin-top: 0;
  }
}

.sidebarCollapsibleButtons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  width: 100%;

  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-column: 2 / 4;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: auto;

  @media (max-width: 900px) {
    grid-column: unset;
    margin-top: 0;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 500px) {
    padding: 1rem;
  }
}

.recentProjects {
  max-width: 20rem;
}
